[package]
name = "g213d"
version = "0.1.0"
authors = ["R1tschY <r1tschy@posteo.de>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
lto = "fat"
panic = "abort"

[dependencies]
rusb = "^0.5.5"
hex = "^0.4.2"
structopt = "^0.2.10"
dbus = "^0.8.2"
log = "^0.4.8"
simple_logger = { version = "^1.6.0", default_features = false }
rust-ini = "^0.15"
quick-error = "^1.2.3"