[Unit]
Description=Start G213D service
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=dbus
BusName=de.richardliebscher.g213d
Environment="RUST_LOG=INFO"
ExecStart=/usr/local/bin/g213d

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target