[Unit]
Description=Logitech Gaming Devices Daemon
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=dbus
BusName=de.richardliebscher.gdevd
Environment="RUST_LOG=INFO"
ExecStart=/usr/local/bin/gdevd

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target